<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="view_block_abstract_to_html_before">
        <observer name="magento_promotionpermissions" instance="Magento\PromotionPermissions\Observer\ViewBlockAbstractToHtmlBeforeObserver" />
    </event>
    <event name="adminhtml_block_html_before">
        <observer name="magento_promotionpermissions" instance="Magento\PromotionPermissions\Observer\AdminhtmlBlockHtmlBeforeObserver" />
    </event>
    <event name="controller_action_predispatch">
        <observer name="magento_promotionpermissions" instance="Magento\PromotionPermissions\Observer\ControllerActionPredispatchObserver" />
    </event>
</config>
