<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_prepare_amount_expression">
        <observer name="magento_customerbalance" instance="Magento\CustomerBalance\Observer\ExtendSalesAmountExpressionObserver"/>
    </event>
    <event name="rewarded_amount_after_refund_calculation">
        <observer name="magento_customerbalance" instance="Magento\CustomerBalance\Observer\ModifyRewardedAmountOnRefundObserver"/>
    </event>
</config>
