<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\WebsiteRestriction\Model\ConfigInterface" type="Magento\WebsiteRestriction\Model\Config" />
    <type name="Magento\WebsiteRestriction\Model\Config">
        <arguments>
            <argument name="reader" xsi:type="object">Magento\WebsiteRestriction\Model\Config\Reader\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Module\Setup\Migration">
        <arguments>
            <argument name="compositeModules" xsi:type="array">
                <item name="magento_websiterestriction" xsi:type="string">Magento_WebsiteRestriction</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Customer\Model\AccountManagement">
        <plugin name="website_restriction_model_account_management" type="Magento\WebsiteRestriction\Plugin\Model\AccountManagement" />
    </type>
</config>
