<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "%store_name:  New customer comment" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var comment":"Order Comment",
"var store.getFrontendName()":"Store Name"
} @-->

<h1>{{trans "New Comment for RMA #%increment_id" increment_id=$rma.getIncrementId()}}</h1>

<p>{{trans "Customer %name has left a new comment:" name=$order.getCustomerName()}}</p>

<p><em>{{var comment}}</em></p>
