<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <giftcard>
            <email>
                <identity>general</identity>
                <template>giftcard_email_template</template>
            </email>
            <general>
                <is_redeemable>1</is_redeemable>
                <lifetime>0</lifetime>
                <order_item_status>9</order_item_status>
                <allow_message>1</allow_message>
                <message_max_length>255</message_max_length>
            </general>
        </giftcard>
    </default>
</config>
