<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{if inviter_name}}{{trans "%inviter_name invites you to join Private Sales Site" inviter_name=$inviter_name}}{{else}}{{trans "Invite to join Private Sales Site"}}{{/if}} @-->
<!--@vars {
"template config_path=\"design\/email\/footer_template\"":"Email Footer Template",
"template config_path=\"design\/email\/header_template\"":"Email Header Template",
"var logo_alt":"Email Logo Image Alt",
"var logo_url":"Email Logo Image URL",
"var message|escape|nl2br":"Invitation Message",
"var url":"Invitation URL",
"var inviter_name":"Inviter Name",
"var store.getFrontendName()|escape":"Store Name",
"store url=\"\"":"Store URL"
} @-->

{{template config_path="design/email/header_template"}}

<p class="greeting">{{trans "Please accept this invitation to join %store_name." store_name=$store.getFrontendName()}}</p>

<p>{{trans "%store_name offers limited time sales of products only to members." store_name=$store.getFrontendName()}}</p>

{{depend message}}
<table class="message-info" cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td>
            {{var message|escape|nl2br}}
        </td>
    </tr>
</table>
<br />
{{/depend}}

<p>{{trans "Please use the following link to create an account and view the deals:"}}</p>
<p><a href="{{var url}}">{{var url}}</a></p>

{{template config_path="design/email/footer_template"}}
