<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magento_CustomerCustomAttributes::customer_attributes_customer_attributes" title="Customer" translate="title" module="Magento_CustomerCustomAttributes" sortOrder="10" parent="Magento_Backend::stores_attributes" action="adminhtml/customer_attribute" resource="Magento_CustomerCustomAttributes::customer_attributes"/>
        <add id="Magento_CustomerCustomAttributes::customer_attributes_customer_address_attributes" title="Customer Address" translate="title" module="Magento_CustomerCustomAttributes" sortOrder="20" parent="Magento_Backend::stores_attributes" action="adminhtml/customer_address_attribute" resource="Magento_CustomerCustomAttributes::customer_address_attributes"/>
    </menu>
</config>
