<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_category_load_after">
        <observer name="magento_catalogevent" instance="Magento\CatalogEvent\Observer\ApplyEventToCategory" />
    </event>
    <event name="catalog_controller_product_init_after">
        <observer name="magento_catalogevent" instance="Magento\CatalogEvent\Observer\ApplyEventToProduct" />
    </event>
    <event name="review_controller_product_init_after">
        <observer name="magento_catalogevent" instance="Magento\CatalogEvent\Observer\ApplyEventToProduct" />
    </event>
    <event name="catalog_category_collection_load_after">
        <observer name="magento_catalogevent" instance="Magento\CatalogEvent\Observer\ApplyEventToCategoryCollection" />
    </event>
    <event name="catalog_product_collection_load_after">
        <observer name="magento_catalogevent" instance="Magento\CatalogEvent\Observer\ApplyEventToProductCollection" />
    </event>
    <event name="catalog_product_is_salable_after">
        <observer name="magento_catalogevent" instance="Magento\CatalogEvent\Observer\ApplyIsSalableToProduct" />
    </event>
    <event name="checkout_cart_product_add_after">
        <observer name="magento_catalogevent" instance="Magento\CatalogEvent\Observer\ApplyEventOnQuoteItemSetProduct" />
    </event>
    <event name="sales_quote_item_qty_set_after">
        <observer name="magento_catalogevent" instance="Magento\CatalogEvent\Observer\ApplyEventOnQuoteItemSetQty" />
    </event>
</config>
