<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <catalog>
            <magento_catalogpermissions>
                <grant_catalog_category_view>0</grant_catalog_category_view>
                <grant_catalog_product_price>0</grant_catalog_product_price>
                <grant_checkout_items>0</grant_checkout_items>
                <restricted_landing_page>no-route</restricted_landing_page>
                <deny_catalog_search />
                <enabled>0</enabled>
            </magento_catalogpermissions>
        </catalog>
    </default>
</config>
