<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sales>
            <magento_salesarchive>
                <active>0</active>
                <age>30</age>
                <order_statuses>closed,complete</order_statuses>
            </magento_salesarchive>
        </sales>
    </default>
</config>
