<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Block\Onepage">
        <arguments>
            <argument name="layoutProcessors" xsi:type="array">
                <item name="shippingAddressSearch" xsi:type="object">Magento\CheckoutAddressSearch\Block\Checkout\ShippingAddressProcessor</item>
                <item name="billingAddressSearch" xsi:type="object">Magento\CheckoutAddressSearch\Block\Checkout\BillingAddressProcessor</item>
            </argument>
        </arguments>
    </type>
</config>
