<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="CybersourceFacade">
        <arguments>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Adminhtml\Transparent\Form</argument>
        </arguments>
    </type>
    <type name="Magento\Cybersource\Controller\Adminhtml\SilentOrder\TokenRequest">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Backend\Model\Session\Quote</argument>
        </arguments>
    </type>
    <type name="Magento\Cybersource\Block\Info">
        <arguments>
            <argument name="data" xsi:type="array">
                <item xsi:type="string" name="is_secure_mode">0</item>
            </argument>
        </arguments>
    </type>
</config>
