<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_save_commit_after">
        <observer name="magento_targetrule" instance="Magento\TargetRule\Observer\CatalogProductSaveCommitAfterObserver" />
    </event>
    <event name="catalog_product_delete_commit_after">
        <observer name="magento_targetrule" instance="Magento\TargetRule\Observer\CatalogProductDeleteCommitAfterObserver" />
    </event>
    <event name="config_data_save_commit_after">
        <observer name="magento_targetrule" instance="Magento\TargetRule\Observer\CoreConfigSaveCommitAfterObserver" />
    </event>
</config>
