<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::marketing">
                    <resource id="Magento_Enterprise::marketing_private_sales">
                        <resource id="Magento_Invitation::magento_invitation" title="Invitations" translate="title" sortOrder="20" />
                    </resource>
                </resource>
                <resource id="Magento_Reports::report">
                    <resource id="Magento_Invitation::report_magento_invitation" title="Private Sales" translate="title" sortOrder="70">
                        <resource id="Magento_Invitation::general" title="Invitations" translate="title" sortOrder="10" />
                        <resource id="Magento_Invitation::magento_invitation_customer" title="Invited Customers" translate="title" sortOrder="20" />
                        <resource id="Magento_Invitation::order" title="Conversion" translate="title" sortOrder="30" />
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Magento_Invitation::config_magento_invitation" title="Invitation Section" translate="title" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
