<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::content">
                    <resource id="Magento_Backend::content_elements">
                        <resource id="Magento_Cms::page">
                            <resource id="Magento_VersionsCms::save_revision" title="Save revision and version." sortOrder="17" />
                            <resource id="Magento_VersionsCms::delete_revision" title="Delete Revision and Version" translate="title" sortOrder="25" />
                            <resource id="Magento_VersionsCms::publish_revision" title="Publish Revision" translate="title" sortOrder="30" />
                        </resource>
                        <resource id="Magento_VersionsCms::hierarchy" title="Hierarchy" translate="title" sortOrder="20">
                            <resource id="Magento_VersionsCms::hierarchy_widget_chooser" title="Hierarchy Chooser Widget." sortOrder="17" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
