<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magento_GiftCardAccount::customer_giftcardaccount" title="Gift Card Accounts" translate="title" module="Magento_GiftCardAccount" sortOrder="40" parent="Magento_CatalogRule::promo" action="adminhtml/giftcardaccount" dependsOnModule="Magento_GiftCardAccount" resource="Magento_GiftCardAccount::customer_giftcardaccount"/>
    </menu>
</config>
