<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Customer::customer">
                    <resource id="Magento_Customer::manage">
                        <resource id="Magento_Reward::reward_balance" title="Manage Reward Points Balances" translate="title" sortOrder="10" />
                    </resource>
                </resource>
                <resource id="Magento_Sales::sales">
                    <resource id="Magento_Sales::sales_operation">
                        <resource id="Magento_Sales::sales_order">
                            <resource id="Magento_Sales::actions">
                                <resource id="Magento_Sales::create">
                                    <resource id="Magento_Reward::reward_spend" title="Can Spend Reward Points" translate="title" sortOrder="30" />
                                </resource>
                            </resource>
                        </resource>
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Magento_Reward::magento_reward" title="Reward Points" translate="title" sortOrder="10" />
                        </resource>
                    </resource>
                    <resource id="Magento_Backend::stores_other_settings">
                        <resource id="Magento_Reward::rates" title="Reward Exchange Rates" translate="title" sortOrder="20" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
