<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Payment\Model\Method\AbstractMethod">
        <plugin name="paymentMethodIsAvailable" type="Magento\PaymentStaging\Plugin\Model\Method\PaymentMethodIsAvailable" />
    </type>
    <type name="Magento\Payment\Model\Method\Adapter">
        <plugin name="paymentGatewayIsAvailable" type="Magento\PaymentStaging\Plugin\Model\Method\PaymentMethodIsAvailable" />
    </type>
</config>
