<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magento_Support::support" title="Support" translate="title" module="Magento_Support" sortOrder="55" parent="Magento_Backend::system" resource="Magento_Support::support" />
        <add id="Magento_Support::support_backup" title="Data Collector" translate="title" module="Magento_Support" sortOrder="10" parent="Magento_Support::support" action="support/backup/index" resource="Magento_Support::support_backup" />
        <add id="Magento_Support::support_report" title="System Report" translate="title" module="Magento_Support" sortOrder="20" parent="Magento_Support::support" action="support/report/index" resource="Magento_Support::support_report" />
    </menu>
</config>
