<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Config\Model\Config">
        <plugin name="configPermissionChange" type="Magento\GoogleTagManager\Model\Plugin\Config" />
    </type>
    <type name="Magento\Sales\Model\Order\Creditmemo">
        <plugin name="creditmemoAfterSave" type="Magento\GoogleTagManager\Model\Plugin\Creditmemo"/>
    </type>
</config>
