<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Controller\Adminhtml\Product\Initialization\Helper">
        <plugin name="PricePermissions" type="Magento\PricePermissions\Controller\Adminhtml\Product\Initialization\Helper\Plugin\PricePermissions" sortOrder="80" />
    </type>
    <type name="Magento\ConfigurableProduct\Block\Adminhtml\Product\Edit\Tab\Variations\Config">
        <plugin name="Config" type="Magento\PricePermissions\Block\Adminhtml\ConfigurableProduct\Product\Edit\Tab\Variations\Plugin\Config" sortOrder="82" />
    </type>
    <type name="Magento\PricePermissions\Controller\Adminhtml\Product\Initialization\Helper\Plugin\PricePermissions">
        <arguments>
            <argument name="productHandler" xsi:type="object">Magento\Catalog\Controller\Adminhtml\Product\Initialization\Helper\Plugin\Handler\Composite\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Controller\Adminhtml\Product\Initialization\Helper\Plugin\Handler\Composite">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="customOptions" xsi:type="string">Magento\PricePermissions\Controller\Adminhtml\Product\Initialization\Helper\Plugin\Handler\CustomOptions</item>
                <item name="bundleProducts" xsi:type="string">Magento\PricePermissions\Controller\Adminhtml\Product\Initialization\Helper\Plugin\Handler\ProductType\Bundle</item>
                <item name="downloadableProducts" xsi:type="string">Magento\PricePermissions\Controller\Adminhtml\Product\Initialization\Helper\Plugin\Handler\ProductType\Downloadable</item>
                <item name="newObject" xsi:type="string">Magento\PricePermissions\Controller\Adminhtml\Product\Initialization\Helper\Plugin\Handler\NewObject</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Eav">
        <plugin name="PricePermissions" type="Magento\PricePermissions\Ui\DataProvider\Product\Form\Modifier\Plugin\Eav" sortOrder="10" />
    </type>
    <!-- @api -->
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="advanced-pricing" xsi:type="array">
                    <item name="class" xsi:type="string">Magento\PricePermissions\Ui\DataProvider\Product\Form\Modifier\AdvancedPricing</item>
                    <item name="sortOrder" xsi:type="number">90</item>
                </item>
                <item name="giftCard" xsi:type="array">
                    <item name="class" xsi:type="string">Magento\PricePermissions\Ui\DataProvider\Product\Form\Modifier\GiftCard</item>
                    <item name="sortOrder" xsi:type="number">100</item>
                </item>
                <item name="related" xsi:type="array">
                    <item name="class" xsi:type="string">Magento\PricePermissions\Ui\DataProvider\Product\Form\Modifier\Related</item>
                    <item name="sortOrder" xsi:type="number">110</item>
                </item>
                <item name="grouped" xsi:type="array">
                    <item name="class" xsi:type="string">Magento\PricePermissions\Ui\DataProvider\Product\Form\Modifier\Grouped</item>
                    <item name="sortOrder" xsi:type="number">120</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Downloadable\Ui\DataProvider\Product\Form\Modifier\Composite">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="links" xsi:type="string">Magento\PricePermissions\Ui\DataProvider\Product\Form\Modifier\Links</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Eav\Model\Entity\Attribute\Backend\AbstractBackend">
        <plugin name="Price" type="Magento\PricePermissions\Model\Entity\Attribute\Backend\Plugin\AbstractBackend" sortOrder="10" />
    </type>
</config>
