<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="view_block_abstract_to_html_before">
        <observer name="magento_pricepermissions" instance="Magento\PricePermissions\Observer\ViewBlockAbstractToHtmlBeforeObserver" />
    </event>
    <event name="adminhtml_block_html_before">
        <observer name="magento_pricepermissions" instance="Magento\PricePermissions\Observer\AdminhtmlBlockHtmlBeforeObserver" />
    </event>
    <event name="catalog_product_load_after">
        <observer name="magento_pricepermissions" instance="Magento\PricePermissions\Observer\CatalogProductLoadAfterObserver" />
    </event>
    <event name="catalog_product_save_before">
        <observer name="magento_pricepermissions" instance="Magento\PricePermissions\Observer\CatalogProductSaveBeforeObserver" />
    </event>
    <event name="adminhtml_catalog_product_form_prepare_excluded_field_list">
        <observer name="magento_pricepermissions" instance="Magento\PricePermissions\Observer\AdminhtmlCatalogProductFormPrepareExcludedFieldListObserver" />
    </event>
    <event name="catalog_product_attribute_update_before">
        <observer name="magento_pricepermissions" instance="Magento\PricePermissions\Observer\CatalogProductAttributeUpdateBeforeObserver" />
    </event>
    <event name="controller_action_predispatch">
        <observer name="magento_pricepermissions" instance="Magento\PricePermissions\Observer\AdminControllerPredispatchObserver" />
    </event>
</config>
