<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="message info reward reward-checkout" data-bind="visible: isAvailable">
    <span data-bind="i18n: tooltipMessage"></span>
    <a data-bind="attr: {href: tooltipLearnMoreUrl, title: $t('Learn more')}">
        <span data-bind="i18n: 'Learn more'"></span>
    </a>
    <span class="reward-limit" data-bind="i18n: 'This applies only to registered users and may vary when a user is logged in.'"></span>
</div>
