<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_category_prepare_save">
        <observer name="category_save_merchandiser_data" instance="Magento\VisualMerchandiser\Observer\CategorySaveMerchandiserData"/>
    </event>
    <event name="catalog_category_save_before">
        <observer name="category_save_merchandiser_data" instance="Magento\VisualMerchandiser\Observer\CatalogCategorySaveBefore"/>
    </event>
</config>
