<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\GiftMessage\Api\CartRepositoryInterface">
        <plugin name="gift_wrapping_cart_repository" type="Magento\GiftWrapping\Model\Plugin\MessageCartRepository" />
    </type>
    <type name="Magento\GiftMessage\Api\ItemRepositoryInterface">
        <plugin name="gift_wrapping_cart_item_repository" type="Magento\GiftWrapping\Model\Plugin\MessageItemRepository" />
    </type>
</config>
