<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magento_MultipleWishlist::report_customers_wishlist" title="Wish Lists" translate="title" module="Magento_MultipleWishlist" sortOrder="40" parent="Magento_Reports::report_customers" action="multiplewishlist/report_customer_wishlist" dependsOnModule="Magento_MultipleWishlist" resource="Magento_MultipleWishlist::wishlist"/>
    </menu>
</config>
