<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "You've been sent a gift from %store_name" store_name=$store.getFrontendName() |raw}} @-->
<!--@vars {
"template config_path=\"design\/email\/footer_template\"":"Email Footer Template",
"template config_path=\"design\/email\/header_template\"":"Email Header Template",
"var logo_alt":"Email Logo Image Alt",
"var logo_url":"Email Logo Image URL",
"var balance":"Gift Card Balance",
"var giftcards|raw":"Gift Card Codes",
"var name|escape":"Recipient Name",
"var gift_message|escape|nl2br":"Sender Gift Message",
"var sender_name":"Sender Name",
"var sender_name_with_email|escape":"Sender Name with Email",
"var store.getFrontendName()|escape":"Store Name",
"store url=\"\"":"Store URL"
} @-->

{{template config_path="design/email/header_template"}}

<p class="greeting">{{trans "%name," name=$name}}</p>

<p>
    {{trans
        '%sender has sent you a gift card for use at <a href="%store_url">%store_name</a> and it is now ready to be used for purchases.'

        sender=$sender_name_with_email
        store_url=$this.getUrl($store,'',[_nosid:1])
        store_name=$store.getFrontendName()
    |raw}}
</p>

{{if is_multiple_codes}}
<h3>{{trans "Gift Card Codes:"}}</h3>
{{else}}
<h3>{{trans "Gift Card Code:"}}</h3>
{{/if}}

<p>{{var giftcards|raw}}</p>

<p>
    {{if is_multiple_codes}}
    {{trans
        'Each card has a balance of %balance that can be used at <a href="%store_url">%store_name</a>.'

        balance=$balance
        store_url=$this.getUrl($store,'',[_nosid:1])
        store_name=$store.getFrontendName()
    |raw}}
    {{else}}
    {{trans
        'The card has a balance of %balance that can be used at <a href="%store_url">%store_name</a>.'

        balance=$balance
        store_url=$this.getUrl($store,'',[_nosid:1])
        store_name=$store.getFrontendName()
    |raw}}
    {{/if}}
</p>

{{if is_redeemable}}
<p>{{trans "Click on the code(s) above to redeem them into Store Credit."}}</p>
{{/if}}

{{depend gift_message}}
<table class="message-info" cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td>
            <h3>{{trans "Message from %sender_name:" sender_name=$sender_name}}</h3>
            {{var gift_message|escape|nl2br}}
        </td>
    </tr>
</table>
{{/depend}}

{{template config_path="design/email/footer_template"}}
