<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko if: $col.isLink($row())-->
    <a
        data-bind="
            attr: {
                href: $col.getHref($row()),
                title: $col.getLabel($row())
            },
            text: $col.getLabel($row())"></a>
    (<!-- ko text: $col.getSize($row()) --><!-- /ko -->)
<!-- /ko -->

<!-- ko ifnot: $col.isLink($row()) -->
    <!-- ko text: $col.getHref($row()) --><!-- /ko -->
<!-- /ko -->
