<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Framework\App\ResourceConnection\ConnectionAdapterInterface" type="Magento\ResourceConnections\DB\ConnectionAdapter\Mysql" />
    <type name="Magento\Framework\App\ResourceConnection">
        <arguments>
            <argument name="deploymentConfig" xsi:type="object">Magento\ResourceConnections\App\DeploymentConfig</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="setup:db-schema:add-slave" xsi:type="object">Magento\ResourceConnections\Console\Command\AddSlave</item>
            </argument>
        </arguments>
    </type>
</config>
