<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\AdvancedCheckout\Model\Observer\CollectTotalsFailedItems">
        <arguments>
            <argument name="failedItemProcessor" xsi:type="object">Magento\AdvancedCheckout\Model\FailedItemProcessor\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\CustomerData\Cart">
        <plugin name="cart_empty_message" type="Magento\AdvancedCheckout\Plugin\Checkout\CustomerData\Cart"/>
    </type>
</config>
