<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Promotion reminder at %store_name" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var coupon.getCode()|escape":"Coupon Code",
"var coupon.getUsageLimit()|escape":"Coupon Usage Limit",
"var coupon.getUsagePerCustomer()|escape":"Coupon Usage Per Customer",
"store url=\"customer\/account\/\"":"Customer Account URL",
"var customer.getName()|escape":"Customer Name",
"template config_path=\"design\/email\/footer_template\"":"Email Footer Template",
"template config_path=\"design\/email\/header_template\"":"Email Header Template",
"var logo_alt":"Email Logo Image Alt",
"var logo_url":"Email Logo Image URL",
"var promotion_description|escape|nl2br":"Promotion Description",
"var promotion_name|escape":"Promotion Name",
"var store.getFrontendName()":"Store Name",
"store url=\"\"":"Store URL"
} @-->

{{template config_path="design/email/header_template"}}

<p class="greeting">{{trans "%name," name=$customer.getName()}}</p>

{{if promotion_name}}
<p>{{trans "Hurry up to take advantage of our %promotion_name promotion!" promotion_name=$promotion_name}}</p>
{{else}}
<p>{{trans "Hurry up to take advantage of this promotion!"}}</p>
{{/if}}

{{if promotion_description}}
<table class="message-info" cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td>
            {{var promotion_description|escape|nl2br}}
        </td>
    </tr>
</table>
<br />
{{/if}}

{{if coupon.getCode()}}
<p>
    {{trans
        'To take advantage of the promotion you need to sign in at <a href="%account_url">%store_name</a> and apply the coupon "%coupon_code" in the shopping cart.'

        store_name=$store.getFrontendName()
        coupon_code=$coupon.getCode()
        account_url=$this.getUrl($store, 'customer/account/',[_nosid:1])
    |raw}}
</p>
{{else}}
<p>
    {{trans
        'To take advantage of the promotion you need to sign in at <a href="%account_url">%store_name</a>'

        store_name=$store.getFrontendName()
        account_url=$this.getUrl($store, 'customer/account/',[_nosid:1])
    |raw}}
</p>
{{/if}}

{{if coupon.getUsageLimit()}}
<p>{{trans "This coupon can be used only up to %coupon_limit time(s) by you or other customers." coupon_limit=$coupon.getUsageLimit()}}</p>
{{/if}}

{{if coupon.getUsagePerCustomer()}}
<p>{{trans "You can use this coupon up to %coupon_limit time(s)." coupon_limit=$coupon.getUsagePerCustomer()}}</p>
{{/if}}

{{template config_path="design/email/footer_template"}}
