<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Reward\Observer\PlaceOrder\RestrictionInterface" type="Magento\Reward\Observer\PlaceOrder\Restriction\Backend" />
    <type name="Magento\Customer\Model\Customer">
        <plugin name="reward_notification" type="Magento\Reward\Model\Plugin\CustomerPlugin"/>
    </type>
</config>
